.pick6-mobile {
    overflow-x: hidden;
    height: 100%;
}
.CMS-icon-fav {
    color: $CMS-icon-fav__color;
    &.active {
        color: $CMS-icon-fav-active__color;
    }
}

// Tabs
.CMS-tabs-content {
    .CMS-tab-panel {
        display: none;
        &.active {
            display: block;
        }
    }
}
.CMS-page-tabs {
    // height: $CMS-tabs__height;
    // background-color: $CMS-tabs__bgColor;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    // overflow-x: auto;
    border-bottom: solid 1px #ccc;
    // overflow: hidden;
    // position: relative;
    // left: -20px;
    margin-left: -20px;
    &.CMS-page-internalTabs {
        margin-left: 0px;
        padding: 10px 8px 0 8px;
        // overflow-x: scroll;
        // overflow-y: hidden;

        ul {
            li {
                min-width: 75px;
                &:first-child {
                    margin-left: 0px;
                }
            }
            .active {
                background-color: #192239;
                border: solid 1px #192239;
                top: 0px;
                a {
                    color: #fff;
                }
            }
        }
    }

    ul {
        display: flex;
        align-items: stretch;
        width: 100%;
        height: 100%;

        li {
            // flex: 1 1 auto;
            // min-width: 120px;
            white-space: nowrap;
            margin-right: 10px;
            vertical-align: middle;
            border: solid 1px #ccc;
            border-radius: 4px 4px 0 0;
            border-bottom: 0;
            &:first-child {
                margin-left: 20px;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 4px 10px;
                // height: $CMS-tabs__height;
                // font-size: $CMS-tabs__fontSize;
                color: $CMS-tabs-a__txtColor;
                // background-color: #ddd;
                border-radius: 4px 4px 0 0;
                height: 30px;
            }
            &.active {
                border: 1px solid #ccc;
                border-bottom: 0;
                border-radius: 4px 4px 0 0;
                background-color: #ebf1f6;
                position: relative;
                top: 1px;

                a {
                    color: $CMS-tabs-a-active__txtColor;
                    font-weight: 600;
                    // background-color: $CMS-tabs__bgColor;
                    // border: solid 1px #ddd;
                    // border-bottom: none;

                    // :after {
                    //     font-family: "sb-cms" !important;
                    //     content: "\2716";
                    // }
                }
            }
        }
    }
}


//page internal tabs


.CMS-page-subTabs {
    // height: $CMS-tabs__height;
    // background-color: $CMS-tabs__bgColor;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    // overflow-x: auto;
    border-bottom: solid 1px #ccc;
    // overflow: hidden;
    // position: relative;
    // left: -20px;
    // margin-left: -20px;
    ul {
        display: flex;
        align-items: stretch;
        width: 100%;
        height: 100%;

        li {
            // flex: 1 1 auto;
            // min-width: 120px;
            white-space: nowrap;
            // margin-right: 10px;
            vertical-align: middle;
            border: solid 1px #ccc;
            // border-radius: 4px 4px 0 0;
            border-bottom: 0;
            margin: 15px 5px 0 5px;
            &:first-child {
                margin-left: 15px;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 4px 10px;
                // height: $CMS-tabs__height;
                // font-size: $CMS-tabs__fontSize;
                color: $CMS-tabs-a__txtColor;
                // background-color: #ddd;
                // border-radius: 4px 4px 0 0;
                height: 35px;
            }
            &.active {
                border: 1px solid #2f8ff1;
                border-bottom: 0;
                // border-radius: 4px 4px 0 0;
                background-color: #2f8ff1;
                // position: relative;
                // top: 1px;

                a {
                    color: #fff;
                    font-weight: 600;
                    // background-color: $CMS-tabs__bgColor;
                    // border: solid 1px #ddd;
                    // border-bottom: none;

                    // :after {
                    //     font-family: "sb-cms" !important;
                    //     content: "\2716";
                    // }
                }
            }
        }
    }
}

.CMS-tabContent{
    .CMS-box-content{
        padding: 0 15px;
    }
    .CMS-userDetails{
        display: flex;
        align-items: center;
        line-height: 35px;
    .userLabel{
        font-weight: 400;
    }
    .userData{
        display: flex;
        align-items: center;
        font-weight: 600;
        justify-content: space-between;
        .CMS-formControl{
            width: 100%;
        }
    }
}
}
/* Tabs ----- */
.CMS-tabs-data {
    // position: relative;
    // display: flex;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.tabby-tab {
    flex: 1;
}

.tabby-tab label {
    display: block;
    box-sizing: border-box;
    /* tab content must clear this */
    height: 40px;

    padding: 10px;
    text-align: left;

    cursor: pointer;
    color: #000;
    // transition: background 0.5s ease;
}

.tabby-tab label:hover {
    background: #fff;
    color: #000;
}

.tabby-content {
    position: absolute;
    left: 0;
    right: 0;
    /* clear the tab labels */
    top: 40px;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    background: #fff;
    opacity: 0;
    transform: scale(0.1);
    transform-origin: top left;
}

.tabby-content img {
    float: left;
    margin-right: 20px;
    border-radius: 8px;
}

/* MAKE IT WORK ----- */

.tabby-tab [type="radio"] {
    display: none;
}
[type="radio"]:checked ~ label {
    background: #fff;
    z-index: 2;
    font-weight: 600;
    color: #000;
    float: left;
    border-radius: 4px 4px 0 0;
}

[type="radio"]:checked ~ label ~ .tabby-content {
    z-index: 1;

    /* show/hide */
    opacity: 1;
    transform: scale(1);
}

/* BREAKPOINTS ----- */
@media screen and (max-width: 767px) {
    .CMS-tabs-data {
        min-height: 400px;
    }
}

@media screen and (max-width: 480px) {
    .CMS-tabs-data {
        min-height: 580px;
    }
    .tabby-tab label {
        height: 60px;
    }
    .tabby-content {
        top: 60px;
    }
    .tabby-content img {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
// Filter Tabs
.CMS-filterBtnList {
    min-height: 40px;
    //background-color: $white;
    ul {
        display: table;
        table-layout: fixed;
        width: auto;
        height: 100%;
        li {
            display: table-cell;
            padding-right: 12px;
            min-width: 110px;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px 10px;
                height: $CMS-filterBtnList-item__height;
                background-color: $CMS-filterBtnList-item__bg;
                border-radius: 4px;
                text-align: center;
                border: 1px solid #ddd;
                line-height: 16px;
            }
            &.active {
                a {
                    background-color: $CMS-filterBtnList-item__activeBg;
                    border-color: $CMS-filterBtnList-item__activeBorder;
                    font-weight: 600;
                    color: $white;
                }
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }

    &.CMS-scrollableArea,
    &.CMS-horizontal ul {
        table-layout: auto;
        ul {
            width: 100%;
        }
    }
}
.CMS-scrollableArea.CMS-horizontal {
    overflow-x: auto;
}
.CMS-box-tabs {
    ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        width: 100%;
        height: 100%;
        li {
            flex: 1;
            text-align: center;
            border: 1px solid $CMS-box-tabs-item__border;
            &:first-child {
                border-right: 1px solid $CMS-box-tabs-item__border;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: $CMS-box-tabs-item__height;
                padding: 4px 10px;
                // background-color: $CMS-box-tabs-item__bg;
            }
            i.CMS-icon-ticket {
                font-size: 16px;
            }
            &.active{
                border: solid 1px #2f8ff1;
                a {
                    background-color: #2f8ff1;
                    font-weight: 500;
                    color: #fff;
                }
            } 
            &:not(.active) {
                border-bottom: 1px solid $CMS-box-tabs-item__border;
            }
        }
    }
}

.CMS-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CMS-table {
    overflow-x: auto;
    th {
        color: #2f8ff1;
        font-weight: 600;
    }
    thead {
        tr {
            background-color: #f0f8ff;
        }
        th {
            border-bottom: 1px solid $CMS-table-header__border;
            padding: 16px 15px;
            &:first-child {
                text-align: left;
            }
        }
        &:last-child {
            th {
                border-top: 1px solid $CMS-table-header__border;
            }
        }
    }
    th,
    td {
        padding: 12px 15px;
        text-align: center;
    }
    a {
        text-decoration: none !important;
        color: #2f8ff1;
    }

    tbody {
        th {
            &:first-child {
                text-align: left;
            }
        }
        td:first-child {
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f6f6f6;
        }
    }
    .CMS-negative-value {
        color: rgb(243, 9, 9);
    }
    .CMS-positive-value {
        color: #1ba81b;
    }
    .CMS-select-value {
        color: #2f8ff1;
    }
    &.CMS-betTicker {
        td {
            border: solid 1px #eee;
        }
        a {
            color: #0000cd;
        }
        .CMS-stakeFactor-more-than-1 {
            background-color: #29cc73;
            color: #fff;
            a {
                color: #fff;
            }
        }
        .CMS-stakeFactor-less-than-1 {
            background-color: #f55454;
            color: #fff;
            a {
                color: #fff;
            }
        }
        .CMS-stakeFactor-1 {
            background-color: transparent;
        }
        .CMS-declined {
            background-color: #f5c01f;

            a {
                color: #fff;
            }
        }
        .CMS-biggerBets {
            background-color: #88acec;
        }
    }
    &.tableHeght {
        min-height: 300px;
    }
    .textLeft {
        text-align: left;
        min-width: 100px;
        // background-color: #f0f8ff;
    }
    .CMS-tablePlain {
        tbody {
            th {
                &:first-child {
                    text-align: left;
                }
            }
            td:first-child {
                text-align: left;
            }
            tr:nth-child(even) {
                background-color: #fff;
            }
        }
        }
}

.CMS-hr {
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: $CMS-hr__color;
    background: radial-gradient(circle, #ddd 0%, #fff 100%);
}

.CMS-accordion {
    // .CMS-arrowAfter:after {
    //     font-family: "sb-cms" !important;
    //     content: "\e90f";
    //     font-size: 14px;
    //     color: #54585b;
    // }
    > .CMS-accordion-header {
        justify-content: space-between;
    }
    &.collapsed {
        > .CMS-accordion-content {
            display: none;
        }
        // .CMS-arrowAfter:after {
        //     content: "\e902";
        // }
        .expand_more:after {
            content: "expand_more";
        }
    }
    .CMS-accordion-content {
        background-color: #1c212c;
        padding-left: 28px;
    }
}
.CMS-box__title {
    text-align: left;
    .CMS-back-button {
        float: left;
        padding: 2px 20px 0 0;
        font-size: 20px;
    }
}

.CMS-box {
    border-radius: 6px;
    padding: 1px;
    padding-bottom: 0;
    background-color: $white;
    // overflow: hidden;
    // padding-bottom: 20px;
    margin-bottom: 20px;
    // border: 1px solid #ddd;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
    .CMS-box__header {
        background-color: $CMS-table-caption__bg;
        color: $CMS-table-caption__color;
        height: $CMS-table-caption__height;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .CMS-box__header-right {
            display: flex;
            align-items: center;
        }
    }
    &.CMS-box-content {
        padding: 20px 10px;
        .CMS-box__header {
            padding: 0px 5px 10px;
            margin-bottom: 10px;
        }
    }
    .CMS-box__Header {
        background-color: #192239;
        color: #fff;
        height: $CMS-table-caption__height;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px 6px 0 0;
    }
}
.CMS-box-content {
    padding: 20px 15px;
}
.CMS-page-header {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #0e1321;
}
.CMS-page-secondary-header {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #0e1321;
    border-bottom: solid 1px #ddd;
}
.CMS-page-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.CMS-tabContent {
    padding: 20px 0;
}
.CMS-internal-tabContent {
    padding: 20px 0;
    // background-color: #f0f8ff;
}
.CMS-graph-content {
    display: flex;
    justify-content: center;
    padding: 10px 10px 20px;
    img {
        width: 92%;
    }
}

.CMS-box__actionIcons {
    margin-right: 6px;
    ul {
        display: flex;
        li {
            padding: 6px 8px;
            display: flex;
            align-items: center;
            margin-right: 4px;
            cursor: pointer;
            color: $brand-secondaryColor;
            &:last-child {
                font-size: 15px;
            }
        }
    }
}
.details-of-reports {
    width: 160px;
}
.close {
    font-size: 10px;
    color: #192239;
    margin-left: 15px;
    margin-top: 3px;
}
.CMS-filter-result {
    .CMS-pagination {
        padding: 15px 0;
        .CMS-pagination-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .CMS-pagination-list {
                display: flex;
                align-items: center;
                ul {
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                }

                ul li {
                    display: inline;
                }

                ul li a {
                    display: flex;
                    color: #000;
                    line-height: 24px;
                    float: left;
                    padding: 4px 16px;
                    text-decoration: none;
                    transition: background-color 0.3s;
                    border: 1px solid #bbb;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    margin-right: 2px;
                    // border-right: 0;
                }

                ul li a.active {
                    background-color: $brand-secondaryColor;
                    color: white;
                    border: 1px solid $brand-secondaryColor;
                }

                ul li a:hover:not(.active) {
                    background-color: #ddd;
                }
            }
        }
        .CMS-page-slection {
            display: flex;
            align-items: center;
            .CMS-number-of-files {
                margin: 0 5px;
            }
            .CMS-file-type {
                margin: 0 5px;
            }
            .CMS-download-icon {
                margin: 0 5px;
                border-radius: 4px;
                border: solid 1px #192239;
                padding: 6px 8px;
                background-color: #192239;
                color: #fff;
                height: 33px;
            }
        }
        .CMS-page-results {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            min-width: 180px;
            margin: 0 5px;
            .refresh-page {
                margin-left: 20px;
            }
        }
        .CMS-select {
            min-width: 120px;
        }
    }
}

// .CMS-page-tabs {
//     .CMS-selected-tabs > input,
//     .CMS-selected-tabs section > div {
//         display: none;
//     }

//     // #tab1:checked ~ section .tab1,
//     // #tab2:checked ~ section .tab2,
//     // #tab3:checked ~ section .tab3 {
//     //     display: block;
//     // }

//     #tab1:checked ~ nav .tab1,
//     #tab2:checked ~ nav .tab2,
//     #tab3:checked ~ nav .tab3 {
//         color: red;
//     }

//     .CMS-selected-tabs {
//         width: 100%;

//         margin: 0 auto;
//         ul {
//             list-style: none;
//             margin: 0;
//             padding: 0;
//             li {
//                 label {
//                     float: left;
//                     padding: 5px 25px;
//                     border: 1px solid #ddd;
//                     border-bottom: 0;
//                     background: $tabunactiveColor;
//                     color: #444;
//                     border-radius: 4px 4px 0 0;
//                     margin-right: 5px;
//                     &:hover {
//                         background: $tabunactiveHoverColor;
//                     }
//                     &:active {
//                         background: $tabactiveColor;
//                     }
//                 }
//                 &:not(:last-child) label {
//                     // border-right-width: 0;
//                 }
//             }
//         }
//         .CMS-tabs-data {
//             clear: both;
//             .CMS-tabs-data-box {
//                 padding-top: 10px;
//                 width: 100%;
//                 border-top: 1px solid #ddd;
//                 line-height: 1.5em;
//                 letter-spacing: 0.3px;
//                 color: #444;
//             }
//         }
//     }

//     #tab1:checked ~ nav .tab1,
//     #tab2:checked ~ nav .tab2,
//     #tab3:checked ~ nav .tab3 {
//         label {
//             background: #fff;
//             left: 0px;
//             color: #111;
//             position: relative;
//             border-radius: 4px 4px 0 0;
//             &:after {
//                 content: "";
//                 display: block;
//                 position: absolute;
//                 height: 2px;
//                 width: 100%;
//                 background: $tabactiveColor;
//                 left: 0;
//                 bottom: -1px;
//             }
//         }
//     }
// }

// li span {
//     padding-top: 5px;
// }

.CMS-sideMenu-collapsed .CMS-sideMenu {
    width: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.CMS-sideMenu-collapsed ~ .CMS-layout-content {
    margin-left: 0;
    width: 100%;
}
//Custm scroll bar
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

// .country_flag{
//     width: 30px;
// }

/* Sprite image flags */
.CMS-flags {
    background-image: url(/images/country_flags/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 4px;
    width: 30px;
    height: 20px;
    &.et {
        
        background-position: -5px -5px;
    }

    &.om {
        
        background-position: -5px -35px;
    }

    &.tz {
        
        background-position: -5px -65px;
    }

    &.sl {
        
        background-position: -5px -95px;
    }

    &.pr {
        
        background-position: -5px -125px;
    }

    &.mz {
        
        background-position: -5px -155px;
    }

    &.iq {
        
        background-position: -5px -185px;
    }

    &.lb {
        
        background-position: -5px -215px;
    }

    &.ug {
        
        background-position: -5px -245px;
    }

    &.ng {
        
        background-position: -5px -275px;
    }

    &.it {
        
        background-position: -5px -305px;
    }

    &.mt {
        
        background-position: -5px -335px;
    }

    &.tn {
        
        background-position: -5px -365px;
    }

    &.ni {
        
        background-position: -5px -395px;
    }

    &.sv {
        
        background-position: -5px -425px;
    }

    &.zm {
        
        background-position: -5px -455px;
    }

    &.wales {
        
        background-position: -5px -485px;
    }

    &.do {
        
        background-position: -5px -515px;
    }

    &.qa {
        
        background-position: -5px -545px;
    }

    &.na {
        
        background-position: -5px -575px;
    }

    &.mu {
        
        background-position: -5px -605px;
    }

    &.european-union {
        
        background-position: -5px -635px;
    }

    &.lu {
        
        background-position: -5px -665px;
    }

    &.hawaii {
        
        background-position: -5px -695px;
    }

    &.lt {
        
        background-position: -5px -725px;
    }

    &.jm {
        
        background-position: -5px -755px;
    }

    &.hn {
        
        background-position: -5px -785px;
    }

    &.mm {
        
        background-position: -5px -815px;
    }

    &.ke {
        
        background-position: -5px -845px;
    }

    &.cy {
        
        background-position: -5px -875px;
    }

    &.pk {
        
        background-position: -5px -905px;
    }

    &.lv {
        
        background-position: -5px -935px;
    }

    &.jp {
        
        background-position: -5px -965px;
    }

    &.kz {
        
        background-position: -5px -995px;
    }

    &.rs {
        
        background-position: -5px -1025px;
    }

    &.scotland {
        
        background-position: -5px -1055px;
    }

    &.kp {
        
        background-position: -5px -1085px;
    }

    &.uy {
        
        background-position: -5px -1115px;
    }

    &.sy {
        
        background-position: -5px -1145px;
    }

    &.gt {
        
        background-position: -5px -1175px;
    }

    &.is {
        
        background-position: -5px -1205px;
    }

    &.jo {
        
        background-position: -5px -1235px;
    }

    &.mc {
        
        background-position: -5px -1265px;
    }

    &.es {
        
        background-position: -5px -1295px;
    }

    &.sk {
        
        background-position: -5px -1325px;
    }

    &.united-nations {
        
        background-position: -5px -1355px;
    }

    &.pa {
        
        background-position: -5px -1385px;
    }

    &.nz {
        
        background-position: -5px -1415px;
    }

    &.ec {
        
        background-position: -5px -1445px;
    }

    &.ro {
        
        background-position: -5px -1475px;
    }

    &.cl {
        
        background-position: -5px -1505px;
    }

    &.fl {
        
        background-position: -5px -1535px;
    }

    &.hu {
        
        background-position: -5px -1565px;
    }

    &.be {
        
        background-position: -5px -1595px;
    }

    &.kr {
        
        background-position: -5px -1625px;
    }

    &.my {
        
        background-position: -5px -1655px;
    }

    &.ve {
        
        background-position: -5px -1685px;
    }

    &.no {
        
        background-position: -5px -1715px;
    }

    &.sa {
        
        background-position: -5px -1745px;
    }

    &.il {
        
        background-position: -5px -1775px;
    }

    &.cz {
        
        background-position: -5px -1805px;
    }

    &.co {
        
        background-position: -5px -1835px;
    }

    &.ir {
        
        background-position: -5px -1865px;
    }

    &.ar {
        
        background-position: -5px -1895px;
    }

    &.ua {
        
        background-position: -5px -1925px;
    }

    &.de {
        
        background-position: -5px -1955px;
    }

    &.hk {
        
        background-position: -5px -1985px;
    }

    &.ae {
        
        background-position: -5px -2015px;
    }

    &.la {
        
        background-position: -5px -2045px;
    }

    &.ie {
        
        background-position: -5px -2075px;
    }

    &.gr {
        
        background-position: -5px -2105px;
    }

    &.dk {
        
        background-position: -5px -2135px;
    }

    &.se {
        
        background-position: -5px -2165px;
    }

    &.pe {
        
        background-position: -5px -2195px;
    }

    &.za {
        
        background-position: -5px -2225px;
    }

    &.ph {
        
        background-position: -5px -2255px;
    }

    &.fr {
        
        background-position: -5px -2285px;
    }

    &.id {
        
        background-position: -5px -2315px;
    }

    &.eg {
        
        background-position: -5px -2345px;
    }

    &.tw {
        
        background-position: -5px -2375px;
    }

    &.ck {
        
        background-position: -5px -2405px;
    }

    &.cc {
        
        background-position: -5px -2435px;
    }

    &.cx {
        
        background-position: -5px -2465px;
    }

    &.ceuta {
        
        background-position: -5px -2495px;
    }

    &.as {
        background-position: -5px -2525px;
    }

    &.ma {
        
        background-position: -5px -2555px;
    }

    &.al {
        
        background-position: -5px -2585px;
    }

    &.corsica {
        
        background-position: -5px -2615px;
    }

    &.canary-islands {
        
        background-position: -5px -2645px;
    }

    &.km {
        
        background-position: -5px -2675px;
    }

    &.cf {
        
        background-position: -5px -2705px;
    }

    &.ky {
        
        background-position: -5px -2735px;
    }

    &.io {
        
        background-position: -5px -2765px;
    }

    &.bt {
        
        background-position: -5px -2795px;
    }

    &.td {
        
        background-position: -5px -2825px;
    }

    &.cv {
        
        background-position: -5px -2855px;
    }

    &.ch {
        
        background-position: -5px -2885px;
    }

    &.benin {
        
        background-position: -5px -2915px;
    }

    &.aruba {
        
        background-position: -5px -2945px;
    }

    &.balearic-islands {
        
        background-position: -5px -2975px;
    }

    &.ad {
        
        background-position: -5px -3005px;
    }

    &.burundi {
        
        background-position: -5px -3035px;
    }

    &.antigua-and-barbuda {
        
        background-position: -5px -3065px;
    }

    &.ax {
        
        background-position: -5px -3095px;
    }

    &.cameroon {
        
        background-position: -5px -3125px;
    }

    &.brunei {
        
        background-position: -5px -3155px;
    }

    &.poland {
        
        background-position: -5px -3185px;
    }

    &.bonaire {
        
        background-position: -5px -3215px;
    }

    &.belarus {
        
        background-position: -5px -3245px;
    }

    &.barbados {
        
        background-position: -5px -3275px;
    }

    &.british-virgin-islands {
        
        background-position: -5px -3305px;
    }

    &.bosnia-and-herzegovina {
        
        background-position: -5px -3335px;
    }

    &.bermuda {
        
        background-position: -5px -3365px;
    }

    &.belize {
        
        background-position: -5px -3395px;
    }

    &.bahrain {
        
        background-position: -5px -3425px;
    }

    &.al {
        
        background-position: -5px -3455px;
    }

    &.burkina-faso {
        
        background-position: -5px -3485px;
    }

    &.turkey {
        
        background-position: -5px -3515px;
    }

    &.basque-country {
        
        background-position: -5px -3545px;
    }

    &.armenia {
        
        background-position: -5px -3575px;
    }

    &.afghanistan {
        
        background-position: -5px -3605px;
    }

    &.british-columbia {
        
        background-position: -5px -3635px;
    }

    &.ao {
        
        background-position: -5px -3665px;
    }

    &.azerbaijan {
        
        background-position: -5px -3695px;
    }

    &.dz {
        
        background-position: -5px -3725px;
    }

    &.botswana {
        
        background-position: -5px -3755px;
    }

    &.bangladesh {
        
        background-position: -5px -3785px;
    }

    &.cuba {
        
        background-position: -5px -3815px;
    }

    &.australia {
        
        background-position: -5px -3845px;
    }

    &.costa-rica {
        
        background-position: -5px -3875px;
    }

    &.cambodia {
        
        background-position: -5px -3905px;
    }

    &.bolivia {
        
        background-position: -5px -3935px;
    }

    &.croatia {
        
        background-position: -5px -3965px;
    }

    &.bulgaria {
        
        background-position: -5px -3995px;
    }

    &.galapagos-islands {
        
        background-position: -5px -4025px;
    }

    &.martinique {
        
        background-position: -5px -4055px;
    }

    &.tonga {
        
        background-position: -5px -4085px;
    }

    &.st-lucia {
        
        background-position: -5px -4115px;
    }

    &.rapa-nui {
        
        background-position: -5px -4145px;
    }

    &.singapore {
        
        background-position: -5px -4175px;
    }

    &.palau {
        
        background-position: -5px -4205px;
    }

    &.niue {
        
        background-position: -5px -4235px;
    }

    &.macao {
        
        background-position: -5px -4265px;
    }

    &.fiji {
        
        background-position: -5px -4295px;
    }

    &.faroe-islands {
        
        background-position: -5px -4325px;
    }

    &.dominica {
        
        background-position: -5px -4355px;
    }

    &.vanuatu {
        
        background-position: -5px -4385px;
    }

    &.sierra-leone {
        
        background-position: -5px -4415px;
    }

    &.seychelles {
        
        background-position: -5px -4445px;
    }

    &.kosovo {
        
        background-position: -5px -4475px;
    }

    &.england {
        
        background-position: -5px -4505px;
    }

    &.united-states-of-america {
        
        background-position: -5px -4535px;
    }

    &.guinea {
        
        background-position: -5px -4565px;
    }

    &.orkney-islands {
        
        background-position: -5px -4595px;
    }

    &.turks-and-caicos {
        
        background-position: -5px -4625px;
    }

    &.transnistria {
        
        background-position: -5px -4655px;
    }

    &.tokelau {
        
        background-position: -5px -4685px;
    }

    &.gambia {
        
        background-position: -5px -4715px;
    }

    &.st-vincent-and-the-grenadines {
        
        background-position: -5px -4745px;
    }

    &.south-sudan {
        
        background-position: -5px -4775px;
    }

    &.somaliland {
        
        background-position: -5px -4805px;
    }

    &.solomon-islands {
        
        background-position: -5px -4835px;
    }

    &.vietnam {
        
        background-position: -5px -4865px;
    }

    &.sint-maarten {
        
        background-position: -5px -4895px;
    }

    &.sint-eustatius {
        
        background-position: -5px -4925px;
    }

    &.saint-kitts-and-nevis {
        
        background-position: -5px -4955px;
    }

    &.saba-island {
        
        background-position: -5px -4985px;
    }

    &.pitcairn-islands {
        
        background-position: -5px -5015px;
    }

    &.palestine {
        
        background-position: -5px -5045px;
    }

    &.ossetia {
        
        background-position: -5px -5075px;
    }

    &.northern-marianas-islands {
        
        background-position: -5px -5105px;
    }

    &.nauru {
        
        background-position: -5px -5135px;
    }

    &.portugal {
        
        background-position: -5px -5165px;
    }

    &.montserrat {
        
        background-position: -5px -5195px;
    }

    &.melilla {
        
        background-position: -5px -5225px;
    }

    &.mauritania {
        
        background-position: -5px -5255px;
    }

    &.kuwait {
        
        background-position: -5px -5285px;
    }

    &.kiribati {
        
        background-position: -5px -5315px;
    }

    &.guernsey {
        
        background-position: -5px -5345px;
    }

    &.guam {
        
        background-position: -5px -5375px;
    }

    &.grenada {
        
        background-position: -5px -5405px;
    }

    &.greenland {
        
        background-position: -5px -5435px;
    }

    &.thailand {
        
        background-position: -5px -5465px;
    }

    &.gibraltar {
        
        background-position: -5px -5495px;
    }

    &.gabon {
        
        background-position: -5px -5525px;
    }

    &.falkland-islands {
        
        background-position: -5px -5555px;
    }

    &.virgin-islands {
        
        background-position: -5px -5585px;
    }

    &.austria {
        
        background-position: -5px -5615px;
    }

    &.vatican-city {
        
        background-position: -5px -5645px;
    }

    &.tubalu {
        
        background-position: -5px -5675px;
    }

    &.turkmenistan {
        
        background-position: -5px -5705px;
    }

    &.togo {
        
        background-position: -5px -5735px;
    }

    &.bahamas {
        
        background-position: -5px -5765px;
    }

    &.netherlands {
        
        background-position: -5px -5795px;
    }

    &.azores-islands {
        
        background-position: -5px -5825px;
    }

    &.suriname {
        
        background-position: -5px -5855px;
    }

    &.somalia {
        
        background-position: -5px -5885px;
    }

    &.sicily {
        
        background-position: -5px -5915px;
    }

    &.sardinia {
        
        background-position: -5px -5945px;
    }

    &.sao-tome-and-principe {
        
        background-position: -5px -5975px;
    }

    &.norfolk-island {
        
        background-position: -5px -6005px;
    }

    &.niger {
        
        background-position: -5px -6035px;
    }

    &.micronesia {
        
        background-position: -5px -6065px;
    }

    &.marshall-island {
        
        background-position: -5px -6095px;
    }

    &.canada {
        
        background-position: -5px -6125px;
    }

    &.mali {
        
        background-position: -5px -6155px;
    }

    &.kyrgyzstan {
        
        background-position: -5px -6185px;
    }

    &.guinea-bissau {
        
        background-position: -5px -6215px;
    }

    &.eritrea {
        
        background-position: -5px -6245px;
    }

    &.djibouti {
        
        background-position: -5px -6275px;
    }

    &.curacao {
        
        background-position: -5px -6305px;
    }

    &.st-barts {
        
        background-position: -5px -6335px;
    }

    &.san-marino {
        
        background-position: -5px -6365px;
    }

    &.northen-cyprus {
        
        background-position: -5px -6395px;
    }

    &.liechtenstein {
        
        background-position: -5px -6425px;
    }

    &.india {
        
        background-position: -5px -6455px;
    }

    &.liberia {
        width: 29px;
        height: 20px;
        background-position: -5px -6485px;
    }

    &.yemen {
        
        background-position: -5px -6515px;
    }

    &.uzbekistn {
        
        background-position: -5px -6545px;
    }

    &.sudan {
        
        background-position: -5px -6575px;
    }

    &.sahrawi-arab-democratic-republic {
        
        background-position: -5px -6605px;
    }

    &.republic-of-macedonia {
        
        background-position: -5px -6635px;
    }

    &.otan {
        
        background-position: -5px -6665px;
    }

    &.libya {
        
        background-position: -5px -6695px;
    }

    &.east-timor {
        
        background-position: -5px -6725px;
    }

    &.tibet {
        
        background-position: -5px -6755px;
    }

    &.russia {
        
        background-position: -5px -6785px;
    }

    &.papua-new-guinea {
        
        background-position: -5px -6815px;
    }

    &.montenegro {
        
        background-position: -5px -6845px;
    }

    &.moldova {
        
        background-position: -5px -6875px;
    }

    &.maldives {
        
        background-position: -5px -6905px;
    }

    &.madeira {
        
        background-position: -5px -6935px;
    }

    &.french-polynesia {
        
        background-position: -5px -6965px;
    }

    &.trinidad-and-tobago {
        
        background-position: -5px -6995px;
    }

    &.tajikistan {
        
        background-position: -5px -7025px;
    }

    &.swaziland {
        
        background-position: -5px -7055px;
    }

    &.sri-lanka {
        
        background-position: -5px -7085px;
    }

    &.mexico {
        
        background-position: -5px -7115px;
    }

    &.republic-of-the-congo {
        
        background-position: -5px -7145px;
    }

    &.equatorial-guinea {
        
        background-position: -5px -7175px;
    }

    &.zimbabwe {
        
        background-position: -5px -7205px;
    }

    &.rwanda {
        
        background-position: -5px -7235px;
    }

    &.lesotho {
        
        background-position: -5px -7265px;
    }

    &.ivory-coast {
        
        background-position: -5px -7295px;
    }

    &.isle-of-man {
        
        background-position: -5px -7325px;
    }

    &.haiti {
        
        background-position: -5px -7355px;
    }

    &.samoa {
        
        background-position: -5px -7385px;
    }

    &.nepal {
        
        background-position: -5px -7415px;
    }

    &.brazil {
        
        background-position: -5px -7445px;
    }

    &.mongolia {
        
        background-position: -5px -7475px;
    }

    &.malawi {
        
        background-position: -5px -7505px;
    }

    &.madagascar {
        
        background-position: -5px -7535px;
    }

    &.jersey {
        
        background-position: -5px -7565px;
    }

    &.ghana {
        
        background-position: -5px -7595px;
    }

    &.georgia {
        
        background-position: -5px -7625px;
    }

    &.estonia {
        
        background-position: -5px -7655px;
    }

    &.democratic-republic-of-congo {
        
        background-position: -5px -7685px;
    }

    &.senegal {
        
        background-position: -5px -7715px;
    }

    &.china {
        
        background-position: -5px -7745px;
    }

    &.gb {
        
        background-position: -5px -7775px;
    }

    &.Chinese--Taipei {
        
        background-position: -5px -7805px;
    }

    &.github {
        width: 30px;
        height: 30px;
        background-position: -5px -7835px;
    }

    &.gmail {
        width: 30px;
        height: 30px;
        background-position: -5px -7875px;
    }

    &.linkedin {
        width: 30px;
        height: 30px;
        background-position: -5px -7915px;
    }

    &.stackoverflow {
        width: 30px;
        height: 30px;
        background-position: -5px -7955px;
    }

    &.tumblr {
        width: 30px;
        height: 30px;
        background-position: -5px -7995px;
    }

    &.twitter {
        width: 30px;
        height: 30px;
        background-position: -5px -8035px;
    }
}

#CMS-generalDetails {
    .CMS-checkbox {
        padding-left: 0;
    }
    .CMS-tabContent {
        padding: 0;
        .CMS-box-content {
            padding: 20px 10px 3px 10px;
        }
        .general-detailsFooter {
            background-color: #d7e8f5;
            border-radius: 0 0 4px 4px;
            display: flex;
            align-items: center;
            border-top: solid 3px #2f8ff1;
            min-height: 50px;
            .CMS-form-group {
                .CMS-checkbox {
                    label {
                        padding: 0 20px 0 0;
                    }
                }
            }
        }
    }
}
#CMS-bettingHistory{
    .CMS-checkbox {
        padding-left: 0;
    }
    .CMS-userDetails{
        padding: 0 3px;
    }
    // .CMS-box-content {
    //     padding: 0px 15px 0px 15px;
    // }
}
// #CMS-loginHistory {
    
// }

// Login
.CMS-page {
    &.CMS-login {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        .CMS-page-content {
            margin: 0 auto;
            justify-content: center;
            .CMS-box {
                min-width: 400px;
                .CMS-forgotPin {
                    display: flex;
                    justify-content: flex-end;
                    span {
                        float: right;
                        text-decoration: underline;
                        color: #000;
                    }
                }
                .CMS-loginRegister {
                    display: flex;
                    justify-content: center;
                    .CMS-txtHightlight {
                        padding-left: 5px;
                        display: inline-block;
                        text-decoration: underline;
                        //  font-size: 14px;
                        color: #000;
                    }
                }
            }
        }
    }
}
// popup //
.ui-widget-header{
    background-color: #192239 !important;
    color: #fff !important;
}
.ui-dialog .ui-dialog-content{
    padding: 0 !important;
}

// filter
// .CMS-filterDropdownbtn {
//     border-radius: 4px;
//     border: solid 1px #192239;
//     padding: 4px 8px;
//     background-color: #192239;
//     color: #fff;
// }

// .CMS-filterDropdown {
//   display: flex;
//   justify-content: flex-end;
// }

// .CMS-dropdownContent {
//   display: none;
//   position: absolute;
//   background-color: #f1f1f1;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 9999;
// }

// .CMS-dropdownContent a {
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
// }

// .CMS-dropdownContent a:hover {background-color: #ddd;}

// .CMS-filterDropdown:hover .CMS-dropdownContent {display: block;}

// .CMS-filterDropdown:hover .CMS-filterDropdownbtn {background-color: #192239;}

.CMS-calenderGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .CMS-calender{
        width: auto;
    }
    .CMS-calenderCheckbox{
        width: auto;

    }
}

.CMS-msgBox {
    padding: 10px 0;
    font-weight: 600;
    .CMS-msgBox-container{
        min-height: 20px;  
    }
    &.CMS-success {
        .CMS-msgBox-container{
            background-color: #FFF;
            border: 1px solid #33c45a;
            color: #33c45a;
            padding: 10px;
            border-radius: 4px;
        }
    }
    &.CMS-error {
        .CMS-msgBox-container{
            background-color: #FFF;
            // border: solid 1px #d92100;
            color: #d92100;
            padding: 0px 7px;
            border-radius: 4px;
        }
    }
    &.CMS-noRecords {
        .CMS-msgBox-container{
            background-color: #FFF;
            border: solid 1px #FF8300;
            color: #FF8300;
            padding: 10px;
            border-radius: 4px;
        }
    }
}