input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  // min-width: 160px;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.CMS-formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  &.formGroup-inline {
    flex-direction: row;
    align-items: center;
    line-height: 25px;
  }
}
.CMS-form-errorMsg{
  color: #d92100;
  min-height: 20px;
}
.CMS-formLabel {
  margin: 0 10px 2px 0;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  min-width: 110px;
  display: flex;
  align-items: center;
}
.CMS-formControl {
  &.CMS-errorField{       
    border: soid 1px #d92100;
    border-radius: 4px;
    input, select {
      border: solid 1px #d92100;
    }
    
}
  input {
    border: 1px solid $CMS-formControl__border;
    border-radius: 4px;
    font-weight: 400;
    // min-height: $CMS-formControl__height;
    // max-height: $CMS-formControl__height;
    background-color: $CMS-formControl__bg;
    color: $CMS-formControl__txtColor;
    height: 35px;
    padding: 4px 2px 4px 8px;
  }
  select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  // min-width: 160px;
}
.CMS-select {
  background-color: $white;
  // border-radius: 6px;
  height: 35px;
  color: #222;
  font-weight: 500;
  position: relative;
  // border: 1px solid #d7d7d7;
  // padding: 6px 8px;
  font-size: 14px;
  width: auto;
  // min-width: 160px;
  &::after {
    font-family: 'Material Icons';
    content: "expand_more";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 2px;
    border: 0;
    pointer-events: none;
    color: #c6c6c6;
    font-size: 24px;
    color: #444;
  }
 
}
  &::placeholder {
    color: #ccc;
    font-weight: normal;
  }
  &.CMS-slectLarge {
    .CMS-select {
      min-width: 200px;
    }
    .CMS-dropdown {
      min-width: 200px;
    }
  }
  .CMS-tableRow{
    display: flex;
    flex-direction: row;
} 
}
.CMS-formControl-group {
  position: relative;

  .CMS-formAddon {
    min-width: 28px;
    max-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
  }
  .CMS-formControl {
    flex: 1 1 auto;
    // padding-right: 40px;
  }
}



input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
// input[type="date"]:after {
//   color: transparent;
//   background: none;
//   display: block;
//   font-family: 'FontAwesome';
//   content: '\f073';
//   /* This is the calendar icon in FontAwesome */
//   width: 15px;
//   height: 20px;
//   position: absolute;
//   top: 12px;
//   right: 6px;
//   color: #555;
//   right: 15px;
// }
.CMS-form-group {
  line-height: 30px;
  // &.dashBoard{
  //   .CMS-checkbox {
  //     padding-left: 0px;
  //   }
  // }
  .CMS-checkbox {
    display: flex;
    align-items: center;
    padding-left: 6px;
    line-height: 24px;
    .SB-checkboxLabel {
      padding-left: 10px;
      //padding-right: 16px; // white-space: nowrap;
      // width: calc(100% - 22px);
      position: relative;
      top: 0px;
      color: #000;
    }
    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    }
    label {
      width: 16px;
      height: 16px;
      // min-width: 20px;
      // margin-bottom: 0;
      // padding-left: 0;
      // padding-bottom: 0;
      // float: left;
      position: relative;
      // top: 5px;
      padding: 0;
      &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        // left: 0px;
        // top: 0px;
        background-color: #fff;
        border: solid 1px #999;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    input[type="checkbox"]:checked + label:before {
      font-family: "Material Icons";
      text-align: center;
      line-height: 16px;
      color: #fff;
      content: "\e5ca";
      font-size: 12px;
      border: 0;
      background-color: #2f8ff1;
    }

    a {
      text-decoration: underline;
    }
  }
  
}
